.body
{hight:800px;
    weight:800px;
    background-color: aliceblue;
}
.head
{
    height:100px;
    weight:100px;
    background-color: blue;
}
.footer{
    height: 75px;
    background-color:aquamarine;
    weight:75px;
}